django>=4.2,<5.0
argon2-cffi>=21.3
djangorestframework>=3.14
djangorestframework-xml>=2.0
django-apscheduler>=0.6
cryptography>=41.0
python-dotenv>=1.0
logbook==1.8.1
dnspython==2.7.0
psutil==7.0.0
zeroconf>=0.148.0
pywebpush>=2.0
gunicorn>=23.0.0
uvicorn[standard]>=0.29
whitenoise>=6.0
pip-system-certs
certifi
defusedxml>=0.7