* {
    font-size: 15px;
    line-height: 1.5;
}
body {
    min-width: 1400px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;   /* Firefox will set width as auto */
    width: 1400px;            /* As IE6 ignores !important it will set width as 1000px; */
}
.body-container {
    padding: 20px;
}
table tr td,
table tr th{
    padding: 5px 5px 5px 5px !important;
}
