{
    "autopkg": {
        "bin_path": "/usr/local/bin/autopkg",
        "cache_path": "~/Library/AutoPkg/Cache",
        "recipe_list": "~/Library/Application Support/AutoPkgr/recipe_list.txt",
        "report_plist": "~/Documents/autopkg_report.plist"
    },
    "repository": {
        "server": {
            "host": "",
            "share": "",
            "mount_path": "/tmp/Munki",
            "public_url": "https://"
        },
        "authentication":{
            "username": "",
            "password": ""
        },
        "directories": {
            "check": [
                "catalogs",
                "client_resources",
                "icons",
                "manifests",
                "pkgs",
                "pkgsinfo",
                "reports"
            ],
            "report_dir": "reports"
        }
    },
    "module_settings": {
        "core.garbage_collector": {
            "repoclean_bin_path": "/usr/local/munki/repoclean",
            "retention": {
                "period": "1w",
                "keep_versions": 3
            },
            "targets": {
                "autopkg_cache": true,
                "temp_files": true,
                "old_reports": true,
                "repository_index": true
            }
        },
        "core.generate_report": {
            "template": "bootstrap_template.html"
        },
        "core.notify": {
            "providers": [
                "pushover"
            ],
            "notifiers.pushover": {
                "app_token": "",
                "user_token": "",
                "supports_html": true
            },
            "notifiers.discord": {
                "webhook_id": "",
                "webhook_token": ""
            }
        }
    },
    "log_level": "debug",
    "flags": []
}
